<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="bean1" class="com.ryland.spring.factory.MyStaticFactory" factory-method="getObject"/>

	<bean id="bean2Factory" class="com.ryland.spring.factory.MyInstanceFactory"/>

	<bean id="bean2" factory-bean="bean2Factory" factory-method="getObject"/>

</beans>